version: 2.1

workflows:
  release:
    jobs:
      - publish-dry-run:
        <<: *only_master
        context: common-env

      - publish-approval:
          type: approval
          context: common-env
          requires:
            - publish-dry-run

      - publish:
          context: common-env
          filters:
            branches:
              only: master

jobs:
  publish-dry-run:
    docker:
      - image: circleci/node:12
    steps:
      - setup
      - publish
  publish:
    docker:
      - image: circleci/node:12
    steps:
      - setup
      - publish_dry_run

commands:
  setup:
    description: 'Checkout and install dependencies'
    steps:
      - checkout
      - run:
          name: Versions
          command: node -v && npm -v && yarn -v
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc

  publish_dry_run:
    steps:
      - run:
          name: Release
          command: npx @rollingversions/canary publish --dry-run

  publish:
    steps:
      - run:
          name: Release
          command: npx @rollingversions/canary publish